# =================================================
# General
# =================================================
# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# =================================================
# Frontend (FrontEmp - Vite/React)
# =================================================
/FrontEmp/node_modules/
/FrontEmp/dist/
/FrontEmp/.vite/
/FrontEmp/coverage/

# =================================================
# Backend (BackEmp - .NET)
# =================================================
**/bin/
**/obj/

# =================================================
# Archivos de entorno y de IDE
# =================================================
.env
.env.local
.env.*.local
.vscode/
.vs/
.idea/